<h2 class="name">{{model.firstName}} "{{model.handle}}" {{model.lastName}}</h2>
<h4 class="position">{{model.position}}</h4>
{{#link-to 'team.show' model.team.id class="teamName"}}{{model.team.name}}{{/link-to}}:
<span class="starter">
{{#if model.starter}}
  Starter
{{else}}
  Substitute
{{/if}}
</span>
<hr>
{{outlet}}
