<tr class="play">
  <td>
  {{#link-to 'player.show' play.player.id}}
  <span class="teamAcronym">{{play.team.acronym}}</span>.
  <b>
    <span class="name">{{play.player.handle}}</span>
  </b>
  {{/link-to}}
  </td>
  <td>
    <span class="u-pull-right">
      <span class="position">{{play.position}}</span> -
      {{play.kills}} / {{play.deaths}} / {{play.assists}}
    </span>
    <br>
    <i class="u-pull-right">
      <span class="totalGold">{{play.totalGold}}g</span> |
      <span class="minionsKilled">{{play.minionsKilled}}cs</span>
    </i>
  </td>
</tr>
