<div class="play">
  <b>
    <span class="teamAcronym">{{play.team.acronym}}</span>.
    <span class="name">{{play.player.handle}}</span>
  </b> |
  <span>{{play.position}}</span> -
  {{play.kills}} / {{play.deaths}} / {{play.assists}}
  <br>
  <i >
    <span class="totalGold">{{play.totalGold}}g</span> |
    <span class="minionsKilled">{{play.minionsKilled}}cs</span>
  </i>
</div>
