<h2>{{model.name}}</h2>
<ul>
  <li>Blue Team: {{#link-to 'team.show' model.blueTeam.id}}{{model.blueTeam.name}}{{/link-to}}</li>
  <li>Red Team: {{#link-to 'team.show' model.redTeam.id}}{{model.redTeam.name}}{{/link-to}}</li>
  <li>Winner: {{model.winner.name}}</li>
</ul>

{{#each model.plays as |play|}}
  {{play-card play=play}}
{{/each}}
