<tr class="game">
  <td>
    {{#link-to 'game.show' game.id}}
      {{game.blueTeam.name}} vs. {{game.redTeam.name}}
    {{/link-to}}
  </td>
  {{#if game.youtubeUrl}}
    <td>
      <a href={{game.youtubeUrl}}>Youtube</a>
    </td>
  {{else}}
  <td>
    No Youtube Link
  </td>
  {{/if}}
  <td>
    {{game.playedAt}}
  </td>
</tr>
