<tr class="game">
  <td>
    {{#link-to 'game.show' game.id}}
      {{game.blueTeam.name}} vs. {{game.redTeam.name}}
    {{/link-to}}
  </td>
    <td>
      {{#if game.youtubeUrl}}
        <a href={{game.youtubeUrl}}>Youtube</a>
      {{else}}
        <span class="youtubeUrl">No Youtube Link</span>
      {{/if}}
    </td>
  <td class="playedAt">
    {{game.playedAt}}
  </td>
</tr>
